:root {
    --jmp-color: #8c4272;
    --jmp-color-gray: #808080;
    --jmp-color-white: #FFFFFF;
    --jmp-color-black: #000000;


}

@font-face {
    font-family: 'Avenir Next Heavy';
    src: url('../assets/fonts/AvenirNext-Heavy.ttf');
}

@font-face {
    font-family: 'Book Antiqua';
    src: url('../assets/fonts/BKANT.TTF');
}

@font-face {
    font-family: 'Book Antiqua Cursiva';
    src: url('../assets/fonts/ANTQUAI.TTF');
}

@font-face {
    font-family: 'Book Antiqua Negrita';
    src: url('../assets/fonts/ANTQUAB.TTF');
}

@font-face {
    font-family: 'Book Antiqua Negrita Cursiva';
    src: url('../assets/fonts/ANTQUABI.TTF');
}

.llegando {
    font-family: "Book Antiqua Negrita Cursiva";
    color: var(--jmp-color);
}

.llegando-parrafo {
    font-family: 'Book Antiqua Cursiva';
    color: var(--jmp-color);
}
.titulosJMP-B{
    font-family: "Avenir Next Heavy";
    color: var(--jmp-color-black);
}

.btncolor-jmp {
    color: var(--jmp-color);
}

.textoBAN {
    font-family: 'Book Antiqua Negrita';
    color: var(--jmp-color);
}

.textoBA {
    font-family: 'Book Antiqua';
    color: var(--jmp-color);
}

.textoBANC {
    font-family: 'Book Antiqua Negrita Cursiva';
    color: var(--jmp-color);
}

.textoBAC {
    font-family: 'Book Antiqua Cursiva';
    color: var(--jmp-color);
}

.textcolor-jmp {
    color: var(--jmp-color);
}