<!-- Background Video-->
<video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted loop="loop">
    <source src="assets/mp4/bg.mp4" type="video/mp4" />
</video>
<!-- Masthead-->
<div class="masthead">
    <div class="masthead-content text-white">
        <div class="container-fluid px-4 px-lg-0">
            <h1 class="llegando lh-1 mb-4">Nuestro sitio esta llegando</h1>
            <p class="mb-5 llegando-texto">Estamos trabajando para crear nuestro sitio web, en poco tiempo estaremos en
                linea...</p>
        </div>
    </div>
</div>
<!-- Social Icons-->
<div class="social-icons">
    <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
        <!-- <a class="btn btn-dark m-3" href="#!"><i class="fab fa-twitter"></i></a> -->
        <a class="btn btn-dark m-3" href="https://www.facebook.com/javiermaricevich"><i
                class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark m-3" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark m-3" href="#"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-dark m-3" href="#"><i class="fab fa-"></i></a>
                <!-- <a class="btn btn-dark m-3" href="#!"><i class="fab fa-instagram"></i></a> -->
    </div>
</div>